@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="display-4">Carrito de Compras</h1>
        <h2 class="text-center">PNT 1 - ORT</h2>
        <h3>1er Cuatrimestre 2022</h3>
        <h4>Grupo 1</h4>
    </div>
</div>