<h1 class="display-4 p-2 m-2 text-center align-self-center">Quiénes somos</h1>
<hr />
<br />
<p>Somos una empresa dedicada a la venta de indumentaria, fundada en 2020 por Darth Vader, Dark Lord of the Sith.</p>

<br />

<h1 class="display-6">Visión</h1>

<p>Creemos que podemos cazar a todos los Jedis y vernos bien al mismo tiempo.</p>

<h1 class="display-6">Misión</h1>

<p>Hacemos ropa copada para casi todos los habitantes del Imperio.</p>
<p>No vendemos a Jedis.</p>

<br/>
<hr />
<button type="button" class="btn btn-dark"><a class="nav-link text-white" asp-area="" asp-controller="Sucursales" asp-action="Index">Conozca nuestras Sucursales</a></button>